#root {
  padding: 0.5rem;
}

.icon {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  overflow: visible;
  line-height: 1;
  height: 1em;
}

.cooking-recipes {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--background-color-primary);
  box-shadow: var(--box-shadow-medium);
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sticky-ingredients {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--background-color-primary);
  max-height: 50vh;
  overflow: auto;
  box-shadow: 0 2px #ddd;
}
