.checkbox {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: var(--background-color-secondary);
  transition: background-color 50ms linear, box-shadow 50ms linear;
  height: 2rem;
  width: 2rem;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  -webkit-tap-highlight-color: transparent;
  border-radius: 9999px;
  font-size: 1.5rem;
  line-height: 1rem;
  color: var(--background-color-primary);
  padding: 0;
  user-select:none;
}

.checkbox:has(input[type="checkbox"]:checked) {
  background-color: #7bea7b;
  box-shadow: none;
  animation: scaleDownThenUp 100ms ease-in-out;
}

.checkbox:active {
  background-color: #b3e6b3;
  box-shadow: none;
}

.checkbox input[type="checkbox"], .numberedCheckbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
}

.checkboxListReplacement {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  font-size: 0.5rem;
}

.numberedCheckbox {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: var(--background-color-secondary);
  transition: background-color 50ms linear, box-shadow 50ms linear;
  height: 2rem;
  width: 2rem;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  -webkit-tap-highlight-color: transparent;
  border-radius: 9999px;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--text-color-secondary);
  padding: 0;
  user-select:none;
}

.numberedCheckbox:has(input[type="checkbox"]:checked) {
  background-color: #7bea7b;
  box-shadow: none;
  font-size: 1.5rem;
  color: white;
  animation: scaleDownThenUp 100ms ease-in-out;
}

.numberedCheckbox:active {
  background-color: #b3e6b3;
  box-shadow: none;
}

.numberedCheckboxListReplacement {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
}

@keyframes scaleDownThenUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
