/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, ol, ul, li,
form, label {
	margin: 0;
	border: 0;
  box-sizing: border-box;
}
/* end css reset */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --text-color-primary: black;
  --text-color-secondary: #57606a;
  --background-color-primary: #F4F1EC;
  --background-color-secondary: #E0DDD6;
  --box-shadow-medium: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --box-shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  
  background-color: var(--background-color-primary);
}

a, .link {
  font-weight: 500;
  font-size: inherit;
  color: #E76F51;
  text-decoration: inherit;
  padding-left: 0;
  padding-right: 0;
}
a:hover, .link:hover {
  color: #B24A3B;
  text-decoration: underline;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Platypi', serif;
}

button {
  border: none;
  background-color: var(--background-color-primary);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

label, input[type="checkbox"] {
  touch-action: manipulation;
}

@font-face {
  font-family: 'Platypi';
  src: url('Platypi-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
