.searchBar {
  position: relative;
  display: flex;
  flex-direction: column;

  --animation-duration: 200ms;

  .searchRow {
    white-space: nowrap;
    overflow: hidden;

    .searchInput {
      display: inline-flex;
      /* flex-grow: 1; */
      font-size: 1rem;
      padding: 0.5rem;
      border-radius: 0.75rem;
      border: 1px solid var(--background-color-secondary);
      background-color: var(--background-color-secondary);
      width: 100%;
      transition: width var(--animation-duration) ease-in-out,
        background-color var(--animation-duration) ease-in-out;
      -webkit-tap-highlight-color: transparent;

      &:focus,
      &.resultsOpen {
        background-color: var(--background-color-primary);
        width: calc(100% - 6ch - 1.25rem);
      }

      &:focus {
        outline: none;
        border-color: #e76f51;
      }

      &:active {
        background-color: #ebe8e1;
      }
    }

    .searchCancel {
      padding: 0 0.5rem 0 0.5rem;
      margin-left: 0.5rem;
      opacity: 0;
      transition: opacity var(--animation-duration) ease-in-out;
    }

    .searchInput:focus + .searchCancel,
    .searchInput.resultsOpen + .searchCancel {
      opacity: 1;
    }
  }

  .searchResults {
    position: absolute;
    top: calc(100% + 0.25rem);
    background-color: var(--background-color-primary);
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-xl);
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0.5rem 0;
    max-height: 37vh;
    overflow: auto;

    li {
      list-style-type: none;
      padding-left: 0;
      margin: 0;

      &:hover {
        background-color: var(--background-color-secondary);
      }

      .searchLink {
        padding: 0.25rem 1rem;

        &:hover {
          text-decoration: none;
        }

        .searchBreadcrumbs {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          color: var(--text-color-secondary);
          font-size: 0.7rem;
        }
      }
    }

    .noResults {
      padding: 0.25rem 1rem;
      color: var(--text-color-secondary);
    }
  }
}
